<div class="row">
  <div class="col-lg-2">
    <img class="headLeft" src="https://static.topcv.vn/company_logos/0ZT9refQobeAkpzsYWBdyaki10IlbFB4_1655288503____f48c9fc932b36c4eec44ec23d223fa18.png">
  </div>
  <div class="col-lg-8 align-items-center text-center">
    <p style="font-size: 20px">Liên hệ</p>
    <a style="font-size: 10px">
      103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</a><br>
    <a style="font-size: 10px">Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</a><br>
    <a style="font-size: 10px"> Email: reservation@furamavietnam.com * www.furamavietnam.com <br>7,0 km from Danang Airport</a>
  </div>
  <div class="col-lg-2">
    <img class="headLeft" src="https://static.topcv.vn/company_logos/0ZT9refQobeAkpzsYWBdyaki10IlbFB4_1655288503____f48c9fc932b36c4eec44ec23d223fa18.png">
  </div>
</div>
