<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://tuyengiao.vn/Uploads/2017/3/25/7tin.jpg" alt="" width="150" height="100">
  <h1 class="display-5 fw-bold">VEW TIN VỊT</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">trang web tin vịt chúng tôi là một trang báo chí đúng sự thật 99%, và không hề ăn cắp của các trang báo khác. Chúng tôi sẽ đem lại cho người dùng đọc báo những thông tin bổ ích nhất và nóng hổi nhất.</p>
    <b class="lead m-4">Xin chân thành cảm ơn!!</b>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    </div>
  </div>
</div>
