<h1 class="text-center">Trang thêm mới</h1>
<div class="row col-12">
  <div class="row col-6">
    <div class="form-group distance">
      <label for="id">Id</label>
      <input type="text" class="form-control inputSize" id="id">
    </div>
    <div class="form-group distance">
      <label for="name">Name</label>
      <input type="text" class="form-control inputSize" id="name">
    </div>
    <div class="form-group distance">
      <label for="day-of-birth">Day of birth</label>
      <input type="text" class="form-control inputSize" id="day-of-birth">
    </div>
    <div class="form-group distance">
      <label for="gender">Gender</label>
      <input type="text" class="form-control inputSize" id="gender">
    </div>
    <div class="form-group distance">
      <label for="id-card">Id card</label>
      <input type="text" class="form-control inputSize" id="id-card">
    </div>
  </div>
  <div class="row col-6">
    <div class="form-group distance">
      <label for="phone-number">Phone number</label>
      <input type="text" class="form-control inputSize" id="phone-number">
    </div>
    <div class="form-group distance">
      <label for="email">email</label>
      <input type="text" class="form-control inputSize" id="email">
    </div>
    <div class="form-group distance">
      <label for="address">address</label>
      <input type="text" class="form-control inputSize" id="address">
    </div>
    <div class="distance">
      <select class="custom-select">
        <option selected>Customer type id</option>
        <option value="1">Diamond</option>
        <option value="2">Platinium</option>
        <option value="3">Gold</option>
        <option value="4">Silver</option>
        <option value="5">Member</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add new</button>
  </div>
</div>
