<h2 class="text-center">
  Todo App
</h2>
<div class="col-md-8 offset-md-2">
  <input type="text" class="form-control" [formControl]="content" (change)="change()">
  <input type="text" class="form-control" [formControl]="img" (change)="change()">
  <button class="btn bg-primary" >thêm</button>
  <ul style="margin-top: 30px ">
    <li (click)="toggleTodo(i)" [class.complete]="todo.complete"
        *ngFor="let todo of todos; index as i">
      <div class="row">
        <div class="col-lg-3">
          <p>{{todo.content}}</p>
        </div>
        <div class="col-lg-3" style="height: 100px">
          <img style="width: 70%;height: 70%" src="{{todo.img}}">
        </div>

      </div>


    </li>
  </ul>
</div>
