<h1 class="text-center">Danh sách dịch vụ</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col"> Tên dịch vụ</th>
    <th scope="col"> Diện tích</th>
    <th scope="col"> Chi phí thuê </th>
    <th scope="col"> Số người tối đa</th>
    <th scope="col"> Tiêu chuẩn phòng</th>
    <th scope="col"> Mô tả tiện nghi</th>
    <th scope="col"> Diện tích hồ bơi</th>
    <th scope="col"> Số tầng </th>
    <th scope="col"> Dịch vụ miễn phí đi kèm </th>
    <th scope="col"> Kiểu thuê </th>
    <th scope="col"> Loại dịch vụ </th>
    <th scope="col">Chỉnh sửa</th>
    <th scope="col">Xóa</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let facility of facility; index as i">
    <td>{{i + 1}}</td>
    <td>{{facility.name}}</td>
    <td>{{facility.area}}</td>
    <td>{{facility.cost}}</td>
    <td>{{facility.maxPeople}}</td>
    <td>{{facility.standardRoom}}</td>
    <td>{{facility.descriptionOther}}</td>
    <td>{{facility.poolArea}}</td>
    <td>{{facility.numberOfFloors}}</td>
    <td>{{facility.facilityFree}}</td>
    <td>{{facility.rentType.name}}</td>
    <td>{{facility.facilityType.name}}</td>


    <td>
      <a class="btn btn-primary" >Sửa</a>
    </td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Xóa
      </button>
    </td>
  </tr>
  </tbody>
</table>
