<div class="bodyHeader">
  <div class="container-fluid">
    <div class="row" style="height: 140px">
      <div class="col-lg-2">
        <img class="headLeft" src="https://static.topcv.vn/company_logos/0ZT9refQobeAkpzsYWBdyaki10IlbFB4_1655288503____f48c9fc932b36c4eec44ec23d223fa18.png">
      </div>
      <div class="col-lg-8">
        <p class="test headRight" style="margin-left: 200px">CODEGYM</p>
      </div>
      <div class="col-lg-2">
        <img class="headLeft" src="https://static.topcv.vn/company_logos/0ZT9refQobeAkpzsYWBdyaki10IlbFB4_1655288503____f48c9fc932b36c4eec44ec23d223fa18.png">
      </div>
    </div>
  </div>
</div>
