
<h1 class="text-center">Danh sách khách hàng</h1>
<center>
  <a class="btn bg-primary" style="color: white" routerLink="/createCustomer">Thêm mới sản phẩm</a>
</center>

<table class="table table-striped ">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Họ tên</th>
    <th scope="col">Ngày sinh</th>
    <th scope="col">Giới tính</th>
    <th scope="col">Thẻ căn cước</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">email</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Loại khách hàng</th>
    <th scope="col">Xóa</th>
    <th scope="col">Sửa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customer; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{customer.name}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td *ngIf="customer.gender==1">nam</td>
    <td *ngIf="customer.gender==0">nữ</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.customerType.name}}</td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="item= customer">
        delete
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
              <h4> bạn có muốn xóa khách hàng này!!</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">không</button>
              <button type="button" class="btn btn-primary"  (click)="delete(customer.id)"  data-bs-dismiss="modal">có</button>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td><a class="btn btn-info" [routerLink]="['/editCustomer',customer.id]">sửa</a></td>
  </tr>


  </tbody>
</table>


