<h1 class="text-center">Danh sách khách hàng</h1>
<table class="table table-striped ">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Họ tên</th>
    <th scope="col">Ngày sinh</th>
    <th scope="col">Giới tính</th>
    <th scope="col">Thẻ căn cước</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">email</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Loại khách hàng</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customer; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{customer.name}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td *ngIf="customer.gender">nam</td>
    <td *ngIf="!customer.gender">nữ</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.customerType.name}}</td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        delete
      </button>
    </td>
  </tr>


  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        <h4> bạn có muốn xóa khách hàng này!!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">không</button>
        <button type="button" class="btn btn-primary">có</button>
      </div>
    </div>
  </div>
</div>
